<!DOCTYPE html>
<html lang="en" ng-app="App" ng-controller="YoutubeController">
<head>
    <meta charset="UTF-8">
    <title>{{ query }} - AngularJS Youtube</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/main.css">
</head>
<body>
  <header id="header">
      <div class="center">
          <h1 class="logo"><img src="http://www.gstatic.com/youtube/img/logo.png" width="72" height="30px" title="Youtube" alt="Youtube"></h1>
          <h3 class="subtitle">A simple app to show your videos</h3>
          <form role="form">
              <div class="input-group">
                  <input type="text" class="input-search" placeholder="Type your Youtube's username" ng-model="query">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
              </div>
          </form>
      </div>
  </header>
  
   <div id="app">
       <div class="row">
           <div class="videos" ng-repeat="video in videos">
              <a href="#" ng-click="videoModal(video.id)">
                <img src="{{ video.images.cover.src }}" title="{{ video.title }}" alt="{{ video.title }}" class="videos-img">
                <span class="glyphicon glyphicon-play play"></span>
                <div class="videos-section">
                    <h1 class="videos-title">{{ video.title }}</h1>
                    <div class="section-bottom">
                        <span class="category"><span class="glyphicon glyphicon-pencil"></span> {{ video.category }}</span>
                        <span class="views"><span class="glyphicon glyphicon-eye-open"></span> {{ video.viewCount }}</span>
                    </div>
                </div>
              </a>
           </div>
       </div>
   </div>

   <!-- Modal -->
   <div id="modal" ng-click="closeModal()" ng-class="{'modal-active': modal}">
      <div class="modal-content">
          <iframe width="560" height="315" ng-if="modal" ng-src="{{ currentVideo }}" frameborder="0" allowfullscreen></iframe>
          <a href="#" ng-click="closeModal()" class="close-modal">&#215;</a>
      </div>
   </div>
    
    <footer id="footer">
    </footer>
    
    <script src="assets/scripts/angular.js"></script>
    <script src="assets/scripts/module/youtube/app.js"></script>
    <script src="assets/scripts/module/youtube/services.js"></script>
    <script src="assets/scripts/module/youtube/controllers.js"></script>
</body>
</html>




















